<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab
---

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [ ]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Juan':'Ginzo', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

AG: 
a = int
b = float
c = list
d = dict
e = array
f = dict
g = Boolean
h = Boolean
i = string

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

Answer: You can't update an immutable object after creation

---

### 3. Print the `student_names` list.

In [2]:
student_names = [
    'John','Sally','Winnona','Peter','Carmelo','Jake','Boris','Wilfred','Veronica','Daisy'
]

In [3]:
print(student_names)

['John', 'Sally', 'Winnona', 'Peter', 'Carmelo', 'Jake', 'Boris', 'Wilfred', 'Veronica', 'Daisy']

---
### 4. Print the names of the first and last students in the list.

In [4]:
print(f"First: {student_names[0]}")
print(f"Last: {student_names[-1]}")

First: John
Last: Daisy

---

### 5. Print the first 5 names in the student list.

In [5]:
print(student_names[:5])

['John', 'Sally', 'Winnona', 'Peter', 'Carmelo']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [6]:
conc_names = student_names[8] + student_names[9]

In [7]:
conc_names

'VeronicaDaisy'

---

### 7. Append an animal to the list of animals.

In [9]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [10]:
animals.append('lion')

In [11]:
animals

['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'lion']

---

### 8. Print the length of the animals list.

In [12]:
print(len(animals))

7

---

### 9. Divide the length of the fifth animal by the second.

In [13]:
len(animals[4]) / len(animals[1])

2.3333333333333335

---

### 10. Perform the same division but resulting in a decimal number.

---

### 11. Show two different ways to combine the animals list and numbers list.

In [14]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [15]:
animals + numbers

['duck',
 'rat',
 'boar',
 'elefant',
 'mammoth',
 'gazelle',
 'lion',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [18]:
both = [animals, numbers]

In [19]:
both

[['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'lion'],
 [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]]

---

### 12. Remove my name from the list and insert your own in the same place.

In [21]:
names = ['doug', 'billy', 'juan', 'kian', 'sam']

In [23]:
names[2] = 'alistair'

In [24]:
names

['doug', 'billy', 'alistair', 'kian', 'sam']

In [26]:
names.pop(2)

'alistair'

In [27]:
names

['doug', 'billy', 'kian', 'sam']

---

### 13. Sort the following list.

In [28]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [86]:
mix.sort()

TypeError: '<' not supported between instances of 'str' and 'tuple'

In [36]:
mix_sort = sorted(mix)

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14. Manually check whether one element of `mix` is greater than another.

In [37]:
mix[2] > mix[3]

True

---

### 15. Find the index of `'a'` in the  `mix`  list.

In [38]:
mix.index('a')

5

---

### 16. Reverse the `mix` list.

In [39]:
mix.reverse()

In [40]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17. Remove the last element of `mix` and assign it to a variable.

In [41]:
mix_last = mix[-1]

In [42]:
mix_last

['billy', 'sam']

---

### 18. Count the number of times `0` appears in the following list.

In [43]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [44]:
binary.count(0)

16

---

### 19. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [45]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [51]:
print(float(corrupted[1]))

23.1

In [57]:
cleaned = []
for i in corrupted:
    try:
        x = float(i)
        cleaned.append(x)
        print(f"Cleaned {x}")
    except:
        print(f"Could not clean {i}")

print(cleaned)

Could not clean !1
Cleaned 23.1
Could not clean 23.4.5
Could not clean ??12
Cleaned 0.12
Could not clean 12-12
Cleaned -11.1
Could not clean 0-1
Could not clean *12.1
Cleaned 1000.0
[23.1, 0.12, -11.1, 1000.0]

---

### 20. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [58]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

In [74]:
i = 0 # Number of iterations
v = 0 # Number of vowels found
limit = 1000000
vowels = ['A', 'E', 'I', 'O', 'U']
while v < limit:
    for letter in sentence:
        if letter in vowels:
            v += 1
    i += 1

print(v)
print(i)

1000017
43479

In [85]:
count_vowels = 0
for letter in sentence:
    if letter in vowels:
        count_vowels += 1

1000000 / count_vowels

43478.260869565216

---

### 21. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [44]:
with open('coffee-preferences.csv','r') as f:
    lines = f.readlines()

### 22. Iterate through lines and print them out

In [45]:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

### 23. Print out just the lines object by typing `lines` in a cell and hitting enter.

In [46]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 24. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

In [47]:
clean_lines = []
for line in lines:
    clean_lines.append(line.replace('\n',''))
clean_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 25. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [48]:
header = clean_lines[0]
data = clean_lines[1:]

In [49]:
data

['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 26. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [50]:
for line in data:
    print(type(line))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [51]:
# split on commas
header = header.split(',')
data = [line.split(',') for line in data]

In [52]:
header

['Timestamp',
 'Name',
 'Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [43]:
data

[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['3/17/2015 18:39:23',
  'Hugh Jass',
  '1',
  '5',
  '5',
  '4',
  '5',
  '2',
  '5',
  '4',
  '1'],
 ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['3/17/2015 18:39:35',
  'David Feng',
  '2',
  '3',
  '4',
  '2',
  '2',
  '',
  '5',
  '4',
  '3'],
 ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['3/17/2015 18:41:23',
  'Alessandro',
  '1',
  '5',
  '3',
  '2',
  '',
  '',
  '4',
  '3',
  ''],
 ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['3/17/2015 18:42:01',
  'cheong-tseng eng',
  '3',
  '1',
  '',
  '',
  '',
  '',
  '4',
  '',
  '']]

---

### 27. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [27]:
# remove Timestamp:
header_clean = header[1:]
header_clean

[['Name'],
 ['Starbucks'],
 ['PhilzCoffee'],
 ['BlueBottleCoffee'],
 ['PeetsTea'],
 ['CaffeTrieste'],
 ['GrandCoffee'],
 ['RitualCoffee'],
 ['FourBarrel'],
 ['WorkshopCafe']]

In [53]:
data_clean = []
for row in data:
    data_clean.append(row[1:])
data_clean

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 28. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

In [71]:
data_num = []
for row in data_clean:
    row_num = []
    for i in row:
        if i == row[0]:
            row_num.append(i)
        else:
            try:
                row_num.append(int(i))
            except:
                row_num.append(None)
    data_num.append(row_num)

data_num

[['Alison', 3, 5, 4, 3, None, None, 5, 5, None],
 ['April', 4, 5, 5, 3, None, None, 3, None, 5],
 ['Vijay', 3, 5, 5, 5, 3, 2, 1, 1, 1],
 ['Vanessa', 1, 5, 5, 2, None, None, 3, 2, 3],
 ['Isabel', 1, 4, 4, 2, 4, None, 4, 4, None],
 ['India', 5, 3, 3, 3, 3, 1, None, None, 3],
 ['Dave H', 4, 5, None, 5, None, None, None, None, None],
 ['Deepthi', 3, 5, None, 2, None, None, None, None, 2],
 ['Ramesh', 3, 4, None, 3, None, None, None, None, 4],
 ['Hugh Jass', 1, 5, 5, 4, 5, 2, 5, 4, 1],
 ['Alex', 4, 5, None, 3, None, None, None, None, None],
 ['Ajay Anand', 3, 4, 4, 3, 5, None, None, None, None],
 ['David Feng', 2, 3, 4, 2, 2, None, 5, 4, 3],
 ['Zach', 3, 4, 4, 3, None, None, None, None, 5],
 ['Matt', 3, 5, 4, 3, 2, 2, 4, 3, 2],
 ['Markus', 3, 5, None, 3, None, None, 4, None, None],
 ['Otto', 4, 2, 2, 5, None, None, 3, 3, 3],
 ['Alessandro', 1, 5, 3, 2, None, None, 4, 3, None],
 ['Rocky', 3, 5, 4, 3, 3, 3, 4, 4, 3],
 ['cheong-tseng eng', 3, 1, None, None, None, None, 4, None, None]]

In [73]:
print(type(data_num))
print(type(data_num[1]))
print(type(data_num[1][1]))

<class 'list'>
<class 'list'>
<class 'int'>

---

### 29. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [67]:
# Count None values per person
none_count = {'name':'count'}
for row in data_num:
    print(row)


# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

Alison
3
5
4
3
None
None
5
5
None
April
4
5
5
3
None
None
3
None
5
Vijay
3
5
5
5
3
2
1
1
1
Vanessa
1
5
5
2
None
None
3
2
3
Isabel
1
4
4
2
4
None
4
4
None
India
5
3
3
3
3
1
None
None
3
Dave H
4
5
None
5
None
None
None
None
None
Deepthi
3
5
None
2
None
None
None
None
2
Ramesh
3
4
None
3
None
None
None
None
4
Hugh Jass
1
5
5
4
5
2
5
4
1
Alex
4
5
None
3
None
None
None
None
None
Ajay Anand
3
4
4
3
5
None
None
None
None
David Feng
2
3
4
2
2
None
5
4
3
Zach
3
4
4
3
None
None
None
None
5
Matt
3
5
4
3
2
2
4
3
2
Markus
3
5
None
3
None
None
4
None
None
Otto
4
2
2
5
None
None
3
3
3
Alessandro
1
5
3
2
None
None
4
3
None
Rocky
3
5
4
3
3
3
4
4
3
cheong-tseng eng
3
1
None
None
None
None
4
None
None

---

### 30. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

---

### 31. Create a list of just the people's names.