<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab
---

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [ ]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Juan':'Ginzo', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [ ]:
a = 1 # int
b = 2.6 #float
c = [1,2,3,5,6] # list
d = {'Juan':'Ginzo', 'Christoph':'Rahmede'} # dictionary
e = ('one', 'two', 'three') # tuple
f = {1:{'key':'value'}, 2:{'key2':'value2'}} # dictionary
g = True # boolean
h = False # boolean
i = 'integer' # string

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

Answer: You can't update an immutable object after creation

---

### 3. Print the `student_names` list.

In [ ]:
student_names = [
    'John','Sally','Winnona','Peter','Carmelo','Jake','Boris','Wilfred','Veronica','Daisy'
]

In [ ]:
for x in student_names:
    print x

---
### 4. Print the names of the first and last students in the list.

In [ ]:
print student_names[0]
print student_names[-1]

---

### 5. Print the first 5 names in the student list.

In [ ]:
print student_names[:5]

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [ ]:
new_name = student_names[8] + ' ' + student_names[9]
print new_name

---

### 7. Append an animal to the list of animals.

In [ ]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [ ]:
animals = animals + ['bear'] # one option

In [ ]:
# second option: animals.append('cat')

---

### 8. Print the length of the animals list.

In [ ]:
len(animals)

---

### 9. Divide the length of the fifth animal by the second.

In [ ]:
len(animals[4]) / len(animals[1])

---

### 10. Perform the same division but resulting in a decimal number.

In [ ]:
len(animals[4]) * 1.0 / len(animals[1])

---

### 11. Show two different ways to combine the animals list and numbers list.

In [ ]:
numbers = [0., 0.1, 1., 10., 100., 1000., 10000.0]

In [ ]:
animals + numbers

In [ ]:
zip(animals, numbers)

---

### 12. Remove my name from the list and insert your own in the same place.

In [ ]:
names = ['doug', 'billy', 'juan', 'kian', 'sam']

In [ ]:
names[2] = 'student'
names

---

### 13. Sort the following list.

In [1]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [2]:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

In [ ]:
mix

---

### 14. Manually check whether one element of `mix` is greater than another.

In [ ]:
mix[0] > mix[1]

---

### 15. Find the index of `'a'` in the  `mix`  list.

In [ ]:
the_index = -1
for ind, x in enumerate(mix):
    if x == 'a':
        the_index = ind
print the_index

---

### 16. Reverse the `mix` list.

In [ ]:
mix = mix[::-1]
mix

---

### 17. Remove the last element of `mix` and assign it to a variable.

In [ ]:
last_item = mix.pop()
last_item

---

### 18. Count the number of times `0` appears in the following list.

In [ ]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [ ]:
# option 1
count = 0
for digit in binary:
    if digit == 0:
        count += 1
print count

In [ ]:
# option 2
binary.count(0)

---

### 19. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [ ]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [ ]:
new_list = []
for item in corrupted:
    try:
        new_list.append(float(item))
    except:
        pass
        
print new_list

---

### 20. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [ ]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

In [ ]:
# I'm using a function here mostly so I can "exit" from both loops in one go.
def iterator(sentence):
    VOWELS = 'AEIOU' # notice the uppercase for the variable/constant definition
    count = 0
    iterations = 0
    while True:
        for char in sentence:
            if char in VOWELS:
                count += 1
                if count == 1000000:
                    return iterations 
        iterations += 1

iterator(sentence)

---

### 21. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [ ]:
with open('coffee-preferences.csv','r') as f:
    lines = f.readlines()

### 22. Iterate through lines and print them out

In [ ]:
for line in lines:
    print line

### 23. Print out just the lines object by typing `lines` in a cell and hitting enter.

In [ ]:
lines

---

### 24. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

In [ ]:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n',''))
cleaned_lines

---

### 25. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [ ]:
header = cleaned_lines[0]

In [ ]:
data = cleaned_lines[1:]

---

### 26. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [ ]:
# split on commas
header = header.split(',')

In [ ]:
data = [line.split(',') for line in data]

---

### 27. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [ ]:
# remove Timestamp:
header = header[1:]
header

In [ ]:
data = [line[1:] for line in data]

---

### 28. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

In [ ]:
data

In [ ]:
new_data = []
for line in data:
    new_line = [line[0]]

    for item in line[1:]:
        if item == '':
            new_line.append(None)
        else:
            new_line.append(float(item))
    new_data.append(new_line)
new_data

---

### 29. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [ ]:
# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

In [ ]:
new_data

In [ ]:
new_dict = {}
for line in new_data:
    count = line.count(None)
    new_dict[line[0]] = count
new_dict

---

### 30. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [ ]:
scores_dict = {}
for line in new_data:
    filtered_line = filter(None, line[1:])
    avg_score = float(sum(filtered_line))/len(filtered_line)
    scores_dict[line[0]] = avg_score
scores_dict

---

### 31. Create a list of just the people's names.

In [ ]:
# option 1
names = []
for line in new_data:
    names.append(line[0])
names

In [ ]:
# option 2
# names = [line[0] for line in new_data]
# names