<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Week 3 -  Couse Review Lab

---

## Learning Objectives
So far, we have covered significant part of the data science workflow. By now, you should understand the following:

#### Basic Operations
- Be able to load data from various sources into Python
- Define basic data types used in object-oriented programming
- Recall the Python syntax for lists, dictionaries, and functions
- Apply the data science workflow in the pandas context
- Create and use Jupyter Notebook to import, format, and clean data using the Pandas library

#### Statistics,  EDA and Visualisation
- Use NumPy and Pandas libraries to analyze datasets using basic summary statistics: mean, median, mode, max, min, quartile, inter-quartile range, variance, standard deviation, and correlation
- Identify a normal distribution within a dataset using summary statistics and visualization
- Create data visualizations - including: line graphs, box plots, and histograms- to discern characteristics and trends in a dataset

#### Feature Engineering
- Identify variable types and create dummy variables

#### Modelling
- How to build a linear regression model with scikit-learn
- Interpret the output of models
- Describe test/train/split and cross-validation
- Split data into testing and training sets using both test/train/split and cross validation
- Apply both techniques to score a model

the exercises below are aimed to test and review this material, and provide a solid basis for next stage in your data science journey.

---

### 1. What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Juan':'Ginzo', 'Alex':'Cave'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

a = integer, b = float, c = list, d = dictionary, e = tuple, f = dictionary, g = boolean, h = boolean, i = string

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

Mutable objects such as lists can be changed after they have been created
Immutable objects such as tuples cannot be changed after they are created

---

### 3. Print the `student_names` list.

In [2]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

In [3]:
#Your code here
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---
### 4. Print the names of the first and last students in the list.

In [5]:
#Your code here
print("First {}".format(student_names[:1]))
print("Last {}".format(student_names[-1:]))

First ['s1']
Last ['s10']

---

### 5. Print the first 5 names in the student list.

In [6]:
#Your code here
print(student_names[:5])

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [7]:
#Your code here
new_string =student_names[8]+' '+student_names[9]
new_string

's9 s10'

---

### 7. Append an animal to the list of animals.

In [8]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [9]:
#Your code here
animals.append('jaguar')

---

### 8. Print the length of the animals list.

In [10]:
#Your code here
print(len(animals))

7

---

### 9. Divide the length of the fifth animal by the second.

In [12]:
#Your code here
len(animals[4]) / len(animals[1])

2.3333333333333335

---

### 10. Perform the same division but resulting in a decimal number.

In [7]:
#Your code here

---

### 11. Show two different ways to combine the animals list and numbers list.

In [14]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [15]:
#Your code here

animals + numbers

['duck',
 'rat',
 'boar',
 'elefant',
 'mammoth',
 'gazelle',
 'jaguar',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [16]:
#Your code here
numbers.append(animals)

In [17]:
numbers

[0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'jaguar']]

---

### 12. Remove my name from the list and insert your own in the same place.

In [19]:
names = ['doug', 'billy', 'alex', 'kian', 'sam']

In [20]:
names[2] = 'alistair'

---

### 13. Sort the following list.

In [21]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [23]:
#Your code here
sorted(mix)

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14. Manually check whether one element of `mix` is greater than another.

In [25]:
#Your code here
mix[2]> mix[3]

True

---

### 15. Find the index of `'a'` in the  `mix`  list.

In [26]:
#Your code here
mix.index('a')

5

---

### 16. Reverse the `mix` list.

In [27]:
#Your code here
mix.reverse()

In [28]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17. Remove the last element of `mix` and assign it to a variable.

In [29]:
#Your code here
last = mix.pop()

In [30]:
last

['billy', 'sam']

---

### 18. Count the number of times `0` appears in the following list.

In [31]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [32]:
#Your code here
binary.count(0)

16

---

### 19. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [33]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [37]:
#Your code here
fixed = []
for i in corrupted:
    try:
        n = float(i)
        fixed.append(n)
    except:
        pass

In [38]:
fixed

[23.1, 0.12, -11.1, 1000.0]

---

### 20. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [39]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

In [46]:
#Your code here
vowels = ["A", "E", "I", "O", "U"]
counter = 0
letter_iterations = 0
sentence_iterations = 0

while counter < 1000000:
    for i in sentence:
        if counter == 1000000:
            break
        if i in vowels:
            counter += 1
        letter_iterations += 1
    sentence_iterations += 1

print(counter)
print(letter_iterations)
print(sentence_iterations)

1000000
2826085
43479

### 21. Load the provided list of movies dictionaries.

In [47]:
# List of movies dictionaries:

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

---
### 21.1 Filtering data by IMDB score


Write a function that:

1. Accepts a single movie dictionary from the `movies` list as an argument.
2. Returns True if the IMDB score is above 5.5.

In [51]:
#Your Code Here
def score_check(movie):
    if movie["imdb"] > 5.5:
        return True
    else:
        return False

In [52]:
score_check(movies[0])

True

---

### 21.2 Creating subsets by numeric condition

Write a function that:

1. Accepts the list of movies and a specified imdb score.
2. Returns the sublist of movies that have a score greater than the specified score.

In [53]:
#Your code here

def return_top_movies(movies, score):
    top_movies = []
    for movie in movies:
        if movie["imdb"] > score:
            top_movies.append(movie)
    return top_movies

In [55]:
six_n_up = return_top_movies(movies, 6.0)
six_n_up

[{'category': 'Thriller', 'imdb': 7.0, 'name': 'Usual Suspects'},
 {'category': 'Action', 'imdb': 6.3, 'name': 'Hitman'},
 {'category': 'Adventure', 'imdb': 9.0, 'name': 'Dark Knight'},
 {'category': 'Drama', 'imdb': 8.0, 'name': 'The Help'},
 {'category': 'Romance', 'imdb': 6.2, 'name': 'The Choice'},
 {'category': 'Romance', 'imdb': 7.4, 'name': 'Colonia'},
 {'category': 'Comedy', 'imdb': 7.2, 'name': 'Joking muck'},
 {'category': 'Suspense', 'imdb': 9.2, 'name': 'What is the name'},
 {'category': 'Suspense', 'imdb': 7.0, 'name': 'Detective'},
 {'category': 'Romance', 'imdb': 7.2, 'name': 'We Two'}]

---

### 26. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [57]:
# Which data set?

['Usual Suspects']

---

### 27. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

---

### 28. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

---

### 29. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [2]:

# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

---

### 30. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

---

### 31. Create a list of just the people's names.

---

### 32. Picking a name at random: odds of choosing the same name 3 times in a row.

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [20]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly 3 times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

---

### 33. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person 3 times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.