# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [18]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('assets', 'ozone.csv'))

In [19]:
print (data.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [20]:
cols = data.columns
for i in cols:
    print(i)

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [22]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [26]:
print(f"Number of rows: {len(data)}")
print(f"Last row: {data.index[-1]}")

Number of rows: 153
Last row: 152

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [33]:
print("data[-2:] ...")
print(data[-2:])
print("data.tail(2) ...")
print (data.tail(2))

data[-2:] ...
     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30
data.tail(2) ...
     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [38]:
data.loc[46,'Ozone']

21.0

In [41]:
data.iloc[46:48]

    Ozone  Solar.R  Wind  Temp  Month  Day
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17

How many missing values are in the Ozone column of this data frame?

In [48]:
ozone = data['Ozone']
sum(ozone.isnull())

37

In [53]:
ozone.isnull().sum()

37

In [54]:
data['Ozone'].isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [55]:
data['Ozone'].mean()

42.12931034482759

In [56]:
data['Ozone'].mean(skipna=True)

42.12931034482759

In [58]:
data.Ozone.mean()

42.12931034482759

In [57]:
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [60]:
subset1 = data[(data.Ozone > 31) &(data.Temp > 90)]

In [61]:
subset1['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [62]:
data.loc[(data.Month == 6), 'Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [63]:
data.loc[(data.Month == 5), 'Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas